* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  outline: none;
}

.page-title-span {
  margin-left: 10px;
}

.button-right-icon {
  margin-left: 10px;
}

/*Login Section */

.login-cover {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 800;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loginProgress {
  display: none;
}

#loginError {
  display: none;
}


/*Navigation*/
body {
  padding-top: 70px;
  background-color: #fff2c9;
  text-align: center;
}
.navbar-default {
  background-color: #000000;
  border: 0px;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #0392CC;
}
.navbar-brand {
    height: auto;
    margin: 0;
    padding: 0;

}
.navbar-brand>img {
  padding-top: 0;
  width: 90px;
  margin-right: 5px;
}

.navbar-default .navbar-toggle {
    border-color: #b2b12b;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #b2b12b !important;
}


/*Styling table */
td.class1 {
width: 94vw !important;
    text-align: center;
    vertical-align: middle !important;
    padding-top: 5px;
    font-weight: bolder;
    font-size: 2em;
    display: inline-block;
    border-style: none;
    background-color: #b2b12b;
    border-bottom: 0;
    text-overflow: ellipsis;
    overflow: hidden;

}

td.tdwatchlist {
width: 94vw !important;
    text-align: center;
    height: 45px;
    vertical-align: middle !important;
    font-weight: bolder;
    font-size: 2em;
    display: inline-block;
    border-style: none;
    background-color: #b2b12b;
    border-bottom: 0;
}

td.class2 {
  width: 38vw !important;
    text-align: center;
/*    height: 45px;*/
    vertical-align: middle !important;
    padding-top: 5px;
    font-weight: bold;
    font-size: 2em;
    display: inline-block;
    border-style: none;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    background-color: #b2b12b;
}

td.class3 {
 width: 38vw !important;
    text-align: center;
/*    height: 45px;*/
    vertical-align: middle !important;
    padding-top: 5px;
    font-weight: bold;
    font-size: 2em;
    display: inline-block;
    border-style: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    background-color: #b2b12b;
}

td.class4 {
 width: 9vw !important;
    text-align: center;
/*    height: 45px;*/
    vertical-align: middle !important;
    padding-top: 5px;
    font-weight: bold;
    font-size: 1.5em;
    display: inline-block;
    border-style: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    background-color: #b2b12b;
}

td.class5 {
 width: 9vw !important;
    text-align: center;
/*    height: 45px;*/
    vertical-align: middle !important;
    padding-top: 5px;
    font-weight: bold;
    font-size: 1.5em;
    display: inline-block;
    border-style: none;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    background-color: #b2b12b;
}

td.class6 {
 width: 94vw !important;
    text-align: center;
    height: auto;
    vertical-align: middle !important;
    padding-top: 5px;
    font-size: 2em;
    display: inline-block;
    border-style: none;
    border-top: 0;
    background-color: #b2b12b;
}


/*Styling personal favorites table */
td.class1fav {
width: 94.0vw !important;
    text-align: center;
    height: 35px;
    vertical-align: middle !important;
/*    padding-top: 5px;*/
    font-weight: bold;
    font-size: 1em;
    display: inline-block;
    border-style: none;
    border-bottom: 0;
    text-overflow: ellipsis;
    overflow: hidden;

}

td.class2fav {
  width: 40vw !important;
    text-align: center;
    height: 35px;
    vertical-align: middle !important;
/*    padding-top: 5px;*/
    font-weight: bold;
    font-size: 1em;
    display: inline-block;
    border-style: none;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
}

td.class3fav {
 width: 38vw !important;
    text-align: center;
    height: 35px;
    vertical-align: middle !important;
/*    padding-top: 5px;*/
    font-weight: bold;
    font-size: 21em;
    display: inline-block;
    border-style: none;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
}

td.class4fav {
 width: 9vw !important;
    text-align: center;
    height: 35px;
    vertical-align: middle !important;
/*    padding-top: 5px;*/
    font-weight: bold;
    font-size: 1em;
    display: inline-block;
    border-style: none;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
}

td.class5fav {
 width: 9vw !important;
    text-align: center;
    height: 35px;
    vertical-align: middle !important;
/*    padding-top: 5px;*/
    font-weight: bold;
    font-size: 1em;
    display: inline-block;
    border-style: none;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
}

td.class6fav {
 width: 94vw !important;
    text-align: center;
    height: auto;
    vertical-align: middle !important;
/*    padding-top: 5px;*/
    font-size: 1em;
    display: inline-block;
    border-style: none;
    border-top: 0;
}

td.imageclass {
  width:25vw;
  max-height:50px;
}

.imageclass img {
  max-width:25vw;
  max-height:50px;
}

p {
  padding:0px !important;
  margin: 0px !important;
}

/*Loader*/
/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 50vh;
  width: auto;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;/*
  background: url('https://media.giphy.com/media/3oKIPcNVbTZ3e6OXMA/giphy.gif') no-repeat center center;*/
}

/* Transparent Overlay */
/*.loading:before {
  content: '';
  display: block;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));

  background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
}

*/

/*One Page Slider */
ul.onepage-pagination {
  display: none;
}

h2 {
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: bolder;
  -webkit-text-stroke: 2px black;
  color:white;
  text-overflow: ellipsis;
  overflow: hidden;
}

h3 {
  font-size: 2em;
  font-weight: bolder;
  text-overflow: ellipsis;
  overflow: hidden;
}


.class1 h4, .class1fav h4 {
    font-weight: bolder;
    margin-top: 5px;
    margin-bottom: 0px !important;
  }

.class2 p, .class3 p, .class4 p, .class5 p, .class1fav p, .class2fav p, .class3fav p, .class4fav p, .class5fav p, {
  font-weight: bolder;
}

.tdwatchlist a {
  font-size: 0.5em;
  border-style: solid;
  border-radius: 20px;
  padding: 7px;
  color: white;
}

.class5fav a {
  font-weight: bolder;
  color: black;
}

.class5fav {
  padding-top: 8px;
}

input#venuetable_input {
    font-size: 1.5em;
    border-radius: 20px;
    text-align: center;
    max-width: 100vw;
}

table#venue_table {
    
    font-size: 2em;
    text-overflow: ellipsis;
    padding: 10px;
    color: black;
    text-align: center;
}

table#venue_table a {
  color:black;
}

td {
  width: 100vw;
  background-color: #b2b12b;

}

tr {
  width: 94vw;
  border: solid;
  border-width: 3px;
  border-color: #fff2c9;
  border-top-width:10px;
  border-bottom-width: 10px;
  background-color: #b2b12b;
}

.panel-heading {
  background-color: #b2b12b;
  font-weight: bolder;
}

.panel-default>.panel-heading {
  background-color: none !important;
  border-color: none !important;
}

.panel {
  background-color: none !important;
  border: none !important;
}




input#user, input#email, input#user_location, input#user_password, input#emailsignin, input#passwordsignin, input#user_email_reset, input#drink_name, input#drink_style, input#drink_abv, input#drink_ibu, textarea#drink_description, input#drink_name_edit, input#drink_style_edit, input#drink_abv_edit, input#drink_ibu_edit, textarea#drink_description_edit, select#beers_to_edit {
  width: 90vw;
  font-size: 1.5em;
}

button#updatepassword, button#usersignout, button#createuser, button#usersignin, button#useremailreset, button#createdrink, button#updatedrink {
  width: 90vw;
  font-size: 1.5em;
  background-color: #b2b12b;
  border-radius: 15px;
  font-weight: bolder;
  margin-top:7px;
}




input#update_password {
  width: 90vw;
  font-size: 1.5em;
}

li {
  font-size: 2.1em;
  font-color: white;
  font-weight: bolder;
  padding-top: 7px;
  padding-bottom: 7px;
}

.navbar-collapse {
  max-height:80vh ;
  }


/*Hide major section headers until selected*/
.major_section {
  display: none;
}

/*Notification areas*/
p#userpending, p#beeradded, p#beerupdated {
  display: none;
  background-color: black;
  color: white;
}